/* Custom font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
    --error-color: #F00;
    --text-color: #99ff2a;
}

*{
    background-color: #111;
    font-family: 'VT323', monospace;
    font-size: 1.05em;
}

p{
    margin-block-end: 0;
    margin-block-start: 0;
}

.standard-text{
    color: var(--text-color);
}

.standard-text-glow{
    text-shadow: 0px 0px 10px var(--text-color);
}

.error-text{
    color: var(--error-color);
}

.error-text-glow{
    text-shadow: 0px 0px 10px var(--error-color);
}

#text-input{
    border: none;
    outline: none;
}

.testClass{
    background-color: blue !important;
}


/* ANIMATIONS AND EFFECTS */
.delay{
    visibility: hidden;

    opacity: 0;

    animation: fadeIn;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }

}